/CellTypesDatabase/models/472451419/*.v.dat
/CellTypesDatabase/models/472451419/*.log
/CellTypesDatabase/models/472451419/386049444.nwb
/CellTypesDatabase/data/.ipynb_checkpoints
/CellTypesDatabase/models/multicell/
/CellTypesDatabase/output.avi
/CellTypesDatabase/data/471141261_raw_data.nwb
/CellTypesDatabase/*.png
/CellTypesDatabase/info
/CellTypesDatabase/models/*.log
/CellTypesDatabase/models/NEURON/*.dat
/CellTypesDatabase/models/NEURON/old
/CellTypesDatabase/models/NeuroML2/old
/CellTypesDatabase/models/NeuroML2/*.dat
/CellTypesDatabase/models/NeuroML2/*.hoc
/CellTypesDatabase/models/NeuroML2/*.mod
/CellTypesDatabase/models/NeuroML2/*nrn.py
/CellTypesDatabase/models/NeuroML2/*props
/CellTypesDatabase/models/NeuroML2/LEMS_Test_*.xml
/CellTypesDatabase/models/neuronal_model*
/NeuroML2/simplenet.nml

/CellTypesDatabase/models/3*
/CellTypesDatabase/models/4723*
/CellTypesDatabase/models/4729*
/CellTypesDatabase/models/473*
/CellTypesDatabase/models/471*
/CellTypesDatabase/models/4722*
/CellTypesDatabase/models/47242*
/CellTypesDatabase/models/47243*
/CellTypesDatabase/models/47244*
/CellTypesDatabase/models/472450023
/CellTypesDatabase/models/472455509

/CellTypesDatabase/tune/*.dat
/CellTypesDatabase/tune/*.hoc
/CellTypesDatabase/tune/*.mod
/CellTypesDatabase/tune/*nrn.py
/CellTypesDatabase/tune/old
/CellTypesDatabase/tune/NT_*
/CellTypesDatabase/tune/Allen*ml
/CellTypesDatabase/tune/LEMS_Allen*ml


*~
*.svg
*.pov
*.ini
*.pyc

CellTypesDatabase/*.swc
CellTypesDatabase/*.nml
CellTypesDatabase/temp

x86_64

CellTypesDatabase/models/neuronal_model/modfiles/*.dat
CellTypesDatabase/models/neuronal_model/modfiles/*.mod
/CellTypesDatabase/data/471141261.dat
/CellTypesDatabase/data/464198958.dat
/CellTypesDatabase/data/464198958_raw_data.nwb
/CellTypesDatabase/tune/network_471141261_HH.net.nml
