/CellTypesDatabase/models/GLIF/time.dat

/DiPDE/refresh.sh
/CellTypesDatabase/models/472451419/*.v.dat
/CellTypesDatabase/models/472451419/*.log
/CellTypesDatabase/models/472451419/386049444.nwb
/CellTypesDatabase/data/.ipynb_checkpoints
/CellTypesDatabase/models/multicell/
/CellTypesDatabase/output.avi
/CellTypesDatabase/data/471141261_raw_data.nwb
/CellTypesDatabase/*.png
/CellTypesDatabase/info
/CellTypesDatabase/models/attic
/CellTypesDatabase/models/*.log
/CellTypesDatabase/models/NEURON/*.dat
/CellTypesDatabase/models/NEURON/old
/CellTypesDatabase/models/NeuroML2/*.dat
/CellTypesDatabase/models/NeuroML2/*.hoc
/CellTypesDatabase/models/NeuroML2/*.mod
/CellTypesDatabase/models/NeuroML2/*nrn.py
/CellTypesDatabase/models/NeuroML2/*props
/CellTypesDatabase/models/NeuroML2/LEMS_Test_*.xml
/CellTypesDatabase/models/neuronal_model*

/CellTypesDatabase/models/3*
/CellTypesDatabase/models/4723*
/CellTypesDatabase/models/4729*
/CellTypesDatabase/models/473*
/CellTypesDatabase/models/471*
/CellTypesDatabase/models/4722*
/CellTypesDatabase/models/47242*
/CellTypesDatabase/models/47243*
/CellTypesDatabase/models/47244*
/CellTypesDatabase/models/472450023
/CellTypesDatabase/models/472455509
/CellTypesDatabase/models/old

/CellTypesDatabase/tune/*.dat
/CellTypesDatabase/tune/*.hoc
/CellTypesDatabase/tune/*.mod
/CellTypesDatabase/tune/*nrn.py
/CellTypesDatabase/tune/old
/CellTypesDatabase/tune/NT_*
/CellTypesDatabase/tune/Allen*ml
/CellTypesDatabase/tune/LEMS_Allen*ml
/CellTypesDatabase/tune/temp
/CellTypesDatabase/tune/tuned_cells/*.hoc
/CellTypesDatabase/tune/tuned_cells/*.mod
/CellTypesDatabase/tune/tuned_cells/*nrn.py
/CellTypesDatabase/tune/tuned_cells/*iv*ml
/CellTypesDatabase/tune/tuned_cells/*dat
/CellTypesDatabase/tune/tuned_cells/temp


*~
*.svg
*.pov
*.ini
*.pyc

CellTypesDatabase/*.swc
CellTypesDatabase/*.nml
CellTypesDatabase/temp

x86_64

CellTypesDatabase/models/neuronal_model/modfiles/*.dat
CellTypesDatabase/models/neuronal_model/modfiles/*.mod

/CellTypesDatabase/data/4*.dat
/CellTypesDatabase/data/3*.dat
/CellTypesDatabase/data/*_raw_data.nwb


/CellTypesDatabase/tune/network_471141261_HH.net.nml
/CellTypesDatabase/tune/LEMS_iv_Izh_471141261.xml
/CellTypesDatabase/tune/LEMS_iv_RS.xml
/CellTypesDatabase/tune/iv_Izh_471141261.net.nml
/CellTypesDatabase/tune/iv_RS.net.nml
/CellTypesDatabase/tune/LEMS_iv_Izh_464198958.xml
/CellTypesDatabase/tune/iv_Izh_464198958.net.nml
/CellTypesDatabase/models/NeuroML2/472300877.net.nml
/CellTypesDatabase/models/NeuroML2/472363762.net.nml
/CellTypesDatabase/models/NeuroML2/472421285.net.nml
/CellTypesDatabase/models/NeuroML2/472442377.net.nml
/CellTypesDatabase/models/NeuroML2/473561660.net.nml
/CellTypesDatabase/models/NeuroML2/473561729.net.nml
/CellTypesDatabase/models/NeuroML2/473863035.net.nml
/CellTypesDatabase/models/NeuroML2/LEMS_472300877.xml
/CellTypesDatabase/models/NeuroML2/LEMS_472363762.xml
/CellTypesDatabase/models/NeuroML2/LEMS_472421285.xml
/CellTypesDatabase/models/NeuroML2/LEMS_472442377.xml
/CellTypesDatabase/models/NeuroML2/LEMS_473561660.xml
/CellTypesDatabase/models/NeuroML2/LEMS_473561729.xml
/CellTypesDatabase/models/NeuroML2/LEMS_473863035.xml
/CellTypesDatabase/models/NeuroML2/Network_472300877.net.nml
/CellTypesDatabase/models/NeuroML2/Network_472363762.net.nml
/CellTypesDatabase/models/NeuroML2/Network_472421285.net.nml
/CellTypesDatabase/models/NeuroML2/Network_472442377.net.nml
/CellTypesDatabase/models/NeuroML2/Network_473561660.net.nml
/CellTypesDatabase/models/NeuroML2/Network_473561729.net.nml
/CellTypesDatabase/models/NeuroML2/Network_473863035.net.nml

/CellTypesDatabase/models/GLIF/*.mod
/CellTypesDatabase/models/GLIF/*nrn.py

/CellTypesDatabase/models/NeuroML2/CaDynamics.mod0

Sim_Test_*.pop_*.v.dat

original.thresh.dat
thresh.dat
original.v.dat
/NeuroML2/GLIF/info
/CellTypesDatabase/models/GLIF/info
/CellTypesDatabase/models/483108201/479704525.nwb
/CellTypesDatabase/models/483108201/sweep_55.v.dat
/CellTypesDatabase/models/NeuroML2/Cell0.cell.nml
/CellTypesDatabase/models/486556811/486111901.nwb
/CellTypesDatabase/models/486556811/sweep_54.v.dat
/CellTypesDatabase/models/download0.py
/CellTypesDatabase/models/NeuroML2/472450023.net.nml
/CellTypesDatabase/models/NeuroML2/483108201.net.nml
/CellTypesDatabase/models/NeuroML2/486556811.net.nml
/CellTypesDatabase/models/NeuroML2/*.png

/CellTypesDatabase/models/NeuroML2/temp

/CellTypesDatabase/models/472451419/
/CellTypesDatabase/models/476637699/
/CellTypesDatabase/models/477494382/
/CellTypesDatabase/models/477840124/
/CellTypesDatabase/models/477876583/
/CellTypesDatabase/models/478043748/
/CellTypesDatabase/models/478045347/
/CellTypesDatabase/models/478047737/
/CellTypesDatabase/models/478047816/
/CellTypesDatabase/models/478513187/
/CellTypesDatabase/models/478513224/
/CellTypesDatabase/models/478513396/
/CellTypesDatabase/models/478513398/
/CellTypesDatabase/models/478513443/
/CellTypesDatabase/models/478513445/
/CellTypesDatabase/models/478513451/
/CellTypesDatabase/models/478513459/
/CellTypesDatabase/models/478810017/
/CellTypesDatabase/models/479234506/
/CellTypesDatabase/models/479234530/
/CellTypesDatabase/models/479234670/
/CellTypesDatabase/models/479427369/
/CellTypesDatabase/models/479427516/
/CellTypesDatabase/models/479694721/
/CellTypesDatabase/models/480051220/
/CellTypesDatabase/models/480631402/
/CellTypesDatabase/models/480632594/
/CellTypesDatabase/models/480633088/
/CellTypesDatabase/models/482525264/
/CellTypesDatabase/models/482525598/
/CellTypesDatabase/models/482655070/
/CellTypesDatabase/models/482657381/
/CellTypesDatabase/models/482657528/
/CellTypesDatabase/models/485510685/
/CellTypesDatabase/models/485611914/
/CellTypesDatabase/models/485694403/
/CellTypesDatabase/models/486052412/
/CellTypesDatabase/models/486509010/
/CellTypesDatabase/models/486509232/
/CellTypesDatabase/models/486511108/
/CellTypesDatabase/models/486557284/
/CellTypesDatabase/models/487245869/
/CellTypesDatabase/models/488461970/
/CellTypesDatabase/models/489931963/
/CellTypesDatabase/models/496930338/

/CellTypesDatabase/models/478513411/
/CellTypesDatabase/models/478513461/
/CellTypesDatabase/models/480629276/
/CellTypesDatabase/models/485507735/
/CellTypesDatabase/models/485591806/
/CellTypesDatabase/models/488462820/



/CellTypesDatabase/models/NeuroML2/LEMS_329322394.xml
/CellTypesDatabase/models/NeuroML2/LEMS_471081668.xml
/CellTypesDatabase/models/NeuroML2/LEMS_472306544.xml
/CellTypesDatabase/models/NeuroML2/LEMS_472306616.xml
/CellTypesDatabase/models/NeuroML2/LEMS_472352327.xml
/CellTypesDatabase/models/NeuroML2/LEMS_472430904.xml
/CellTypesDatabase/models/NeuroML2/LEMS_472440759.xml
/CellTypesDatabase/models/NeuroML2/LEMS_473835796.xml
/CellTypesDatabase/models/NeuroML2/LEMS_477840124.xml
/CellTypesDatabase/models/NeuroML2/LEMS_477876583.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478043748.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478045347.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478047737.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478047816.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478513187.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478513224.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478513443.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478513445.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478513451.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478513459.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478810017.xml
/CellTypesDatabase/models/NeuroML2/LEMS_479234506.xml
/CellTypesDatabase/models/NeuroML2/LEMS_479234530.xml
/CellTypesDatabase/models/NeuroML2/LEMS_479234670.xml
/CellTypesDatabase/models/NeuroML2/LEMS_479427369.xml
/CellTypesDatabase/models/NeuroML2/LEMS_479427516.xml
/CellTypesDatabase/models/NeuroML2/LEMS_479694721.xml
/CellTypesDatabase/models/NeuroML2/LEMS_480051220.xml
/CellTypesDatabase/models/NeuroML2/LEMS_480631402.xml
/CellTypesDatabase/models/NeuroML2/LEMS_480632594.xml
/CellTypesDatabase/models/NeuroML2/LEMS_480633088.xml
/CellTypesDatabase/models/NeuroML2/LEMS_482525264.xml
/CellTypesDatabase/models/NeuroML2/LEMS_482657381.xml
/CellTypesDatabase/models/NeuroML2/LEMS_485611914.xml
/CellTypesDatabase/models/NeuroML2/LEMS_485694403.xml
/CellTypesDatabase/models/NeuroML2/LEMS_486509010.xml
/CellTypesDatabase/models/NeuroML2/LEMS_486509232.xml
/CellTypesDatabase/models/NeuroML2/LEMS_486511108.xml
/CellTypesDatabase/models/NeuroML2/LEMS_486557284.xml
/CellTypesDatabase/models/NeuroML2/LEMS_488461970.xml
/CellTypesDatabase/models/NeuroML2/LEMS_489931963.xml
/CellTypesDatabase/models/NeuroML2/LEMS_496930338.xml
/CellTypesDatabase/models/NeuroML2/LEMS_472306460.xml
/CellTypesDatabase/models/NeuroML2/LEMS_472447460.xml
/CellTypesDatabase/models/NeuroML2/LEMS_473863510.xml
/CellTypesDatabase/models/NeuroML2/LEMS_476637699.xml
/CellTypesDatabase/models/NeuroML2/LEMS_477494382.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478513396.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478513398.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478513411.xml
/CellTypesDatabase/models/NeuroML2/LEMS_478513461.xml
/CellTypesDatabase/models/NeuroML2/LEMS_480629276.xml
/CellTypesDatabase/models/NeuroML2/LEMS_482525598.xml
/CellTypesDatabase/models/NeuroML2/LEMS_482655070.xml
/CellTypesDatabase/models/NeuroML2/LEMS_485507735.xml
/CellTypesDatabase/models/NeuroML2/LEMS_485510685.xml
/CellTypesDatabase/models/NeuroML2/LEMS_485591806.xml
/CellTypesDatabase/models/NeuroML2/LEMS_486052412.xml
/CellTypesDatabase/models/NeuroML2/LEMS_487245869.xml
/CellTypesDatabase/models/NeuroML2/LEMS_488462820.xml
/CellTypesDatabase/tune/tuneAll.sh
/CellTypesDatabase/tune/reports
/CellTypesDatabase/tune/prototypes/HH2/*.dat
/CellTypesDatabase/tune/prototypes/HH2/*.mod
/CellTypesDatabase/tune/prototypes/HH2/*.hoc
/CellTypesDatabase/tune/prototypes/HH2/LEMS_Test_*.xml
/CellTypesDatabase/tune/prototypes/HH2/*_nrn.py
/CellTypesDatabase/tune/prototypes/HH2/simulator.props
/CellTypesDatabase/data/bulk_analysis/*_raw_data.nwb
/CellTypesDatabase/data/bulk_analysis/*.dat
/CellTypesDatabase/tune/tuneBulk.sh
/CellTypesDatabase/tune/CaDynamics.nml
/CellTypesDatabase/tune/prototypes/AllenHH/Soma_Test.hoc
/CellTypesDatabase/tune/tuned_cells/AllenHH/*.hoc
/CellTypesDatabase/tune/prototypes/AllenHH/AllenHHTest.Pop0.v.dat
/CellTypesDatabase/tune/L23_IV.net.nml
/CellTypesDatabase/tune/LEMS_SmithTest.xml
/CellTypesDatabase/tune/ca.channel.nml
/CellTypesDatabase/tune/it.channel.nml
/CellTypesDatabase/tune/kca.channel.nml
/CellTypesDatabase/tune/km.channel.nml
/CellTypesDatabase/tune/kv.channel.nml
/CellTypesDatabase/tune/na.channel.nml
/CellTypesDatabase/tune/pas.channel.nml
/CellTypesDatabase/tune/prototypes/SmithEtAl2013/*.hoc
/CellTypesDatabase/tune/prototypes/SmithEtAl2013/*.mod
/CellTypesDatabase/tune/prototypes/AllenHH/*.mod
/CellTypesDatabase/tune/prototypes/AllenHH/*.hoc
/CellTypesDatabase/tune/prototypes/AllenHH/*.dat
/CellTypesDatabase/tune/prototypes/SmithEtAl2013/*.dat
/CellTypesDatabase/tune/prototypes/SmithEtAl2013/*_nrn.py
/CellTypesDatabase/tune/prototypes/AllenHH/*_nrn.py
/CellTypesDatabase/data/summary/Figure.html
/CellTypesDatabase/data/summary/traces_FIG_*.png
/CellTypesDatabase/tune/tuned_cells/summary/HH_*_traces_FIG.png
/CellTypesDatabase/tune/tuned_cells/summary/Izh_*_traces_FIG.png
/CellTypesDatabase/tune/tuned_cells/summary/AllenHH_*_if.dat
/CellTypesDatabase/tune/tuned_cells/summary/AllenHH_*_if_iv_FIG.png
/CellTypesDatabase/tune/tuned_cells/summary/HH_*_if.dat
/CellTypesDatabase/tune/tuned_cells/summary/HH_*_if_iv_FIG.png
/CellTypesDatabase/tune/tuned_cells/summary/Izh_*_if.dat
/CellTypesDatabase/tune/tuned_cells/summary/Izh_*_if_iv_FIG.png
/CellTypesDatabase/tune/tuned_cells/summary/HH_*_iv.dat
/CellTypesDatabase/tune/tuned_cells/summary/Izh_*_iv.dat
/CellTypesDatabase/tune/tuned_cells/summary/AllenHH_*_iv.dat
/CellTypesDatabase/tune/tuned_cells/summary/AllenHH_*_traces_FIG.png
/CellTypesDatabase/tune/tuned_cells/summary/HH2*_FIG.png
/CellTypesDatabase/tune/tuned_cells/summary/HH2*.dat
/CellTypesDatabase/models/NeuroML2/*netpyne.py
/CellTypesDatabase/models/NeuroML2/NET_Kv2_like.net.nml
